@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "./icomoon.css";

@layer base {
  html {
    font-family: "Raleway", sans-serif;
    /* font-family: "Open Sans", sans-serif; */
  }
  body {
    @apply bg-light;
  }
  .title {
    @apply text-light text-5xl font-bold not-italic tracking-[2.4px];
  }
  .header__text {
    @apply text-cement uppercase font-[Open_Sans] text-[11px] font-semibold;
  }
  .header__descr {
    @apply text-cement text-base font-normal font-[Open_Sans] leading-[26px] tracking-[0.32px] md:text-lg md:leading-[30px];
  }
  .vertical-rl {
    writing-mode: vertical-rl;
  }
  .table-background {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@theme {
  --color-cement: #9da4bd;
  --color-light: #fff;
  --color-pomarancza: #ff6c00;
  --color-wetasphalt: #303030;
  --color-abgrey: #555;

  --color-dark: #232323;
  --color-ui-active: #d9d9d9;
  --color-ceramic: #c69978;
  --color-ui-disabled: #d2d2d2;
  --color-ui-error: #db0c35;
  --shadow-img-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

@layer components {
  .nav__links {
    @apply text-light font-[Open_Sans] text-xs font-semibold tracking-[1.2px];
  }

  .nav__links a {
    @apply hover:text-pomarancza ease-linear duration-200;
  }
  .btn-default {
    @apply rounded-3xl border border-pomarancza text-center text-light font-[Open_Sans] text-xs font-semibold uppercase bg-transparent block px-5 py-3 cursor-pointer ease-linear duration-200 hover:bg-pomarancza;
  }
  .aside__links {
    @apply text-wetasphalt font-[Open_Sans] text-[11px] font-semibold  tracking-[2.2px];
  }
  .aside__links a {
    @apply hover:text-pomarancza ease-linear duration-200;
  }
  .about__text {
    @apply text-abgrey mt-5 font-[Open_Sans] font-normal text-sm md:text-base leading-[26px];
  }
  /* .btn-send {
    @apply w-55 h-10 text-base focus:outline-ceramic focus:outline focus:border-ceramic lg:active:outline-ceramic lg:active:outline lg:active:border-ceramic lg:active:text-dark lg:hover:text-ceramic lg:hover:border-ceramic disabled:text-ui-disabled disabled:border-ui-disabled;
  } */
}
